<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Solution-Ruleset" Description="Default Ruleset for Penshell-Solution." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" /> <!-- neverrequired -->
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="Info" /> <!-- laterrequired -->
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" /> <!-- neverrequired -->
    <Rule Id="SA1309" Action="None" /> <!-- neverrequired -->
    <Rule Id="SA1600" Action="Warning" /> <!-- laterrequired -->
    <Rule Id="SA1633" Action="None" /> <!-- neverrequired -->
  </Rules>
</RuleSet>